.mobile-menu {
  padding: 24px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 24px 0 0;
}

.mobile-menu .first-ul {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul:last-child {
  position: absolute;
  bottom: 0;
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px;
  display: inline-block; */
}

.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300;
}

.mobile-menu .sign-out {
  color: var(--hospital-green);
  font-size: var(--sm);
}
